@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 1300px;
}

header{
    width: 100%;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);
    background: white;
}
.navbar{
    width: 80%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}
.list{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 28px;
}
.navbar_left a{
    font-family: "Roboto", sans-serif;
    color: #1C1B1B;
    font-weight: 700;
    font-size: 18px;
    position: relative;
}
.navbar_left a::before{
    content: '';
    width: 100%;
    border: 1px solid #1C1B1B;
    position: absolute;
    bottom: -5px;
    transition: 0.5s ease;
    scale: 0;
}
.navbar_left a:hover::before{
    scale: 1;
    transition: 0.5s ease;
}
.navbar_left a:active{
    color: rgba(0, 0, 0, 0.329);
}

.navbar_left button{
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background: none;
    display: none;
}
.navbar_left button:active{
    background: rgba(0, 47, 255, 0.295);
}
.navbar_left button box-icon{
    width: 100%;
    height: 100%;
}
.list button{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.navbar_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar_center h1{
    font-size: 40px;
    font-weight: 900;
}

.navbar_right{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.navbar_right .nav-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
}
.nav-icons box-icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    padding: 3px 3px;
}
.nav-icons box-icon:hover{
    background: rgba(0, 0, 0, 0.151);
}
.nav-icons box-icon:active{
    background: rgba(0, 0, 0, 0.253);
}
.navbar_right button{
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background: none;
    display: none;
    transition: 0.7s;
}
.navbar_right button box-icon{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 880px) {
    .list{
        position: absolute;
        width: 200px;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        padding-top: 80px;
        row-gap: 10px;
        backdrop-filter: blur(20px);
        box-shadow: 0px 0px 10px black;
        top: 0;
        left: -1000px;
        transition: 0.7s ease;
    }
    .navbar_left button{
        display: block;
    }
}
@media screen and (max-width: 500px) {
    .nav-icons{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: -1000px;
        right: 0;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.404);
        transition: 0.7s;
        opacity: 0;
        z-index: -1;
    }
    .navbar_right button{
        display: block;
    }
}

.menu-active{
    left: 0;
}
.app-active{
    top: 50px;
    opacity: 1;
}
.appM-active{
    transform: rotate(-180deg);
    transition: 0.7s;
}