@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 10px;
}

header{
    width: 100%;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);
    background: white;
}
.navbar{
    width: 80%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}
.list{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 28px;
}
.navbar_left a{
    color: #1C1B1B;
    font-weight: 700;
    font-size: 18px;
    position: relative;
}
.navbar_left a::before{
    content: '';
    width: 100%;
    border: 1px solid #1C1B1B;
    position: absolute;
    bottom: -5px;
    transition: 0.5s ease;
    scale: 0;
}
.navbar_left a:hover::before{
    scale: 1;
    transition: 0.5s ease;
}
.navbar_left a:active{
    color: rgba(0, 0, 0, 0.329);
}


.navbar_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar_center h1{
    font-size: 40px;
    font-weight: 900;
    cursor: pointer;
}

.navbar_right{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.navbar_right .nav-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
}
.nav-icons box-icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    padding: 3px 3px;
}
.nav-icons box-icon:hover{
    background: rgba(0, 0, 0, 0.151);
}
.nav-icons box-icon:active{
    background: rgba(0, 0, 0, 0.253);
}
.navbar_right button box-icon{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
}
section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-section{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_content{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
} 
.home_text{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}
.home_text h1{
    font-size: 4rem;
    font-weight: 700;
    color: #000000;
}
.home_text p{
    font-size: 24px;
    font-weight: 400;
    color:#000000;
    margin-top: 42px;
}  
.home_text button{
    margin-top: 26px;
    width: 129px;
    height: 36px;
    border: none;
    outline: none;
    color: white;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 100px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    text-align: center;
    position: relative;
    overflow: hidden;
}


.home_text button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.404), transparent);
    top: -100%;
    left: -100%;
    transition: all 0.5s ease;
}

.home_text button:hover::before {
    top: 100%;
    left: 100%;
}
.home_text button:active{
    transform: scale(0.9);
}

.home_img{
    position: absolute;
    top: 0;
    right: 0;
}
.img1 img{
    width: 500px;
    height: 480px;
    position: absolute;
    top: 20px;
    right: 0px;
    animation: HomeCard 3s linear infinite;
}
.img2 img{
    width: 599px;
    height: 521px;
    position: absolute;
    top: 0px;
    right: -80px;
    animation: HomeCard2 4s infinite;
}
.shadow1{
    position: absolute;
    width: 80px;
    height: 15px;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    bottom: -500px;
    right: 245px;
    animation: shadow1 3s linear infinite;
}
.shadow2{
    position: absolute;
    width: 100px;
    height: 15px;
    background: rgba(0, 0, 0, 0.404);
    border-radius: 50%;
    bottom: -500px;
    right: 90px;
    animation: shadow2 4s linear infinite;
}
@keyframes HomeCard {
  0%, 100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(5%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@keyframes HomeCard2 {
  0%, 100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(17%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@keyframes shadow1 {
    0%, 100% {
        width: 50px;
        opacity: 0.35;
    }
    50% {
      width: 80px;
      opacity: 1;
    }
}
@keyframes shadow2 {
    0%, 100% {
        width: 60px;
        opacity: 0.35;
    }
    50% {
      width: 100px;
      opacity: 1;
    }
}

.second-section{
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.second-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    text-align: center;
}
.second-text h1{
    font-size: 36px;
    font-weight: 700;
    color: #000000;
}
.second-text p{
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}
.second-cards{
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.second-cards > h1{
    font-size: 36px;
    font-weight: 700;
    color: #000000;
    text-align: center;
}
.sec-card{
    margin-top: 51px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}
.sc_cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
}
.sec-card h3{
    font-size: 17px;
    font-weight: 700;
    color: #000000;
}
.sec-card .price{
    font-size: 17px;
    font-weight: 400;
    color: #000000;
}
.sec-card .cart{
    font-size: 17px;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}
.sc_cards img{
    width: 310px;
    height: 425px;
}
.sc_cards{
    animation: scards1 2s linear infinite;
}
.scards2{
    animation-delay: 0.5s;
}
.scards3{
    animation-delay: 1s;
}
.sc_cards:hover{
    animation-play-state: paused;
}
@keyframes scards1 {
  0%, 100% {
    transform: translateY(0%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(10%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.third-section{
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #cccccc71;
}
.about-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
}
.about-card img{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 385px;
    height: 525px;
}
.th-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about-card h1{
    font-size: 36px;
    font-weight: 700;
    color: #000000;
}
.about-card p{
    margin-top: 30px;
    font-size: 36px;
    font-weight: 400;
    color: #000000;
    text-align: left;
}
.acard2 h1, .acard2 p{
    text-align: right;
}
.about-card .acart{
    margin-top: 40px;
    font-size: 17px;
    font-weight: 700;
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
}
.about-card img{
    animation: acard 3s linear infinite;
}
.acard2 img{
    animation-delay: 1s;
}
.acard3 img{
    animation-delay: 1.5s;
}
@keyframes acard {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(10%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.fourth-section{
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fourth-section h1{
    font-size: 36px;
    font-weight: 400;
    color: #000000;
    text-align: center;
}
.circls-box1 h1, .circls-box2 h1{
    font-size: 30px;
    font-weight: 700;
}
.circls-box1{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.circls-box2{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cirle-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}
.circle{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.circl1{
    background: #21F7EC;
    animation: circl1 1s linear infinite;
}
.circl2{
    background: #33D3BC;
    animation: circl2 1s linear infinite;
}
.circl3{
    background: #18A5C6;
    animation: circl3 1s linear infinite;
}
.circl4{
    background: #0f7086;
    animation: circl4 1s linear infinite;
}
.circl5{
    background: #F94C43;
    animation: circl5 1s linear infinite;
}
.circl6{
    background: #D399FF;
    animation: circl6 1s linear infinite;
}
@keyframes circl1 {
    from{
        background: #D399FF;
    }
}
@keyframes circl2 {
    from{
        background: #21F7EC;
    }
}
@keyframes circl3 {
    from{
        background: #33D3BC;
    }
}
@keyframes circl4 {
    from{
        background: #18A5C6;
    }
}
@keyframes circl5 {
    from{
        background: #0f7086;
    }
}
@keyframes circ6 {
    from{
        background: #F94C43;
    }
}

.fifth-section{
    margin-top: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 100px;
    background: linear-gradient(white 43.8%, #F0F0F0 0%);
}
.fifth-section h1{
    font-size: 36px;
    font-weight: 700;
    color: #000000;
    text-align: center;
}

.sixth-section{
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.sixth-section h1{
    font-size: 36px;
    font-weight: 700;
    color: #000000;
}
.sixth-section p{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 700;
    color: #000000;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
input{
    outline: none;
    padding-left: 10px;
}
.double-inp{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
}
.double-inp input{
    width: 153px;
    height: 39px;
}
input::placeholder{
    color: #A0A0A0;
}
.email{
    margin-top: 20px;
    width: 366px;
    height: 39px;
}
form button{
    margin-top: 26px;
    width: 129px;
    height: 36px;
    border: none;
    outline: none;
    color: white;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 100px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    text-align: center;
    position: relative;
    overflow: hidden;
}


form button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.404), transparent);
    top: -100%;
    left: -100%;
    transition: all 0.5s ease;
}

form button:hover::before {
    top: 100%;
    left: 100%;
}
form button:active{
    transform: scale(0.9);
}

footer{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #000000;
    margin-top: 100px;
    color: #FFFFFF;
}
.logosMenu{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.LogosIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.LogosIcon h1{
    font-size: 50px;
    font-weight: 900;
    cursor: pointer;
}
.LogosIcon .logIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    margin-top: 30px;
}

.logIcons box-icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    padding: 3px 3px;
}
.logIcons box-icon:hover{
    background: rgba(94, 94, 94, 0.151);
}
.logIcons box-icon:active{
    background: rgba(94, 94, 94, 0.253);
}

.bottom-footer{
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.fabout, .fcontact{
    font-size: 14px;
    font-weight: 400;
}
.fabout h3, .fcontact h3{
    margin-bottom: 23px;
    cursor: pointer;
}
.fabout p, .fcontact p{
    margin-bottom: 12px;
    cursor: pointer;
}
.footerMenu{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}